<nb-layout>
  
  <nb-layout-header fixed>
  <h1>{{title}}</h1>
  </nb-layout-header>

  <nb-layout-column>
    <app-loader></app-loader>
    <app-master></app-master>
  </nb-layout-column>
  <nb-layout-column>
    <app-details></app-details>
  </nb-layout-column>

  <nb-layout-footer fixed>
  <!-- Insert footer here -->
  </nb-layout-footer>

</nb-layout>
