<nb-card>
    <nb-card-body style="display: flex; justify-content: space-between;">
        <button nbButton status="info"
                (click)="prev()"
                [disabled]="model?.previous == null">
            <nb-icon icon="arrow-ios-back-outline"></nb-icon>
        </button>
        <button nbButton status="success"
                (click)="next()"
                [disabled]="model?.next == null">
            <nb-icon icon="arrow-ios-forward-outline"></nb-icon>
        </button>
    </nb-card-body>
</nb-card>
<nb-card>
    <nb-list>
        <nb-list-item *ngFor="let item of model?.results" (click)="select(item.url)">
            {{item.name | titlecase}}
        </nb-list-item>
    </nb-list>
</nb-card>
